<h1>Hi, <%= current_user.name %>!</h1>

<p>
  We send you this email to confirm the rent of your book <%= @book.title %>. </p>
  <p>If you didn't do this, please check your password and comunicate to lucas@wbooksapi.com.</p>

  <h5>Rent:</h5>
  <ul>
  <li>Book title: <%= @book.title %> </li>
  <li>From: <%= @rent.from %> </li>
  <li>To: <%= @rent.to %> </li>
  </ul>

 <p>Thanks!</p>
