<h1>Hi, <%= @first_name %></h1>

<p>
  We send you this email to confirm the rent of your book <%= @title %>. </p>
  <p>If you didn't do this, please check your password and comunicate to lucas@wbooksapi.com.</p>

  <h2>Rent:</h2>
  <ul>
  <li>Book title: <%= @title %> </li>
  <li>From: <%= @from %> </li>
  <li>To: <%= @to %> </li>
  </ul>

 <p>Thanks!</p>
