<h1><%= t :hello %> <%=@first_name%> </h1>

<p><%= t :msg%><%= @title %>. </p>
<p><%= t :warning %>. </p>

<h2><%= t :rent %>:</h2>
<ul>
    <li><%= t :book %> <%= @title %> </li>
    <li><%= t :to %>: <%= @to %> </li>
</ul>

<p><%= t :thanks %></p>
